body{
  background-color:#F7F8FA;
}

.headerBar{
  background-color: #3EB489 ;
  width: 100%;
}
.navbar-brand{
  color: #F7F8FA;
  font-weight: bold;
}
.navbar-nav{
  flex-direction: row;
  margin-right: 3rem;
}
.nav-item{
  width: 150px;
 
}
.nav-link{
  color: #F7F8FA;
  font-weight: bold;
}

.content-img{
  width: 100%;
  height: 300px;
  background-image: url("../img/banner-market.jpg");
}

.header-content{
  text-align: center;
}
                      /*CONTAINER*/
.formTaxas{
  background-color: white;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2% 5% 2% 5%;
}



                      /*Formulário*/
form{
  padding: 2em 5em 2em 5em;
}

input{
  width: 100%;
}

.btnSubmit{
  margin-top: 1em ;
}

#btn-salvar-historico{
  width: 50%;
  margin-left: 25%;
}
                  /*Formulário-Resultado*/


th{
  background-color: #3EB489; 
  color: #F7F8FA;
}


.tableResult{
  width: 80%;
  margin: 2% 10% 2% 10%;
  padding: 2em 5em 2em 5em;

}

#tdResultadoLiquido{
  text-align: center;
  font-weight: bold;
}

#tdResultadoLiquidoValor{
  font-weight: bold;
}

              /*Tabela-Histórico de trades*/

.tableTradeDiary{
  width: 100%;
}
              
.tableTitle{
   text-align: center;

}

.resultadoGain{
  
  text-align: center;
} 

.resultadoLoss{
 
  text-align: center;
}             

.tableResultadoDia{
  text-align: center;
  font-weight: bold;
}
.table__tax{
  border-top: 0 !important;
}
.table__tax th{
  background-color: #d92525;
 
}
                      /*Conteúdo*/
h3,h4,h5{
    text-align: center;
    padding: 10px;
}

#ex-p{
    margin-top: 5%;
}

h6{
    text-align: center;
    margin-top: 2em;
    color: #3EB489;
}                     

              /* conteudo about */
.about{
  height: 94vh;
  background-color: white;
}

.about__title{
  font-weight: bold;
  margin: 1rem;
}
.about__content{
  margin-left: 1rem;
  margin-right: 1rem;
  
}
.about__content--image{
  margin-left: 25%;
}
.btnPaypal{
  margin-left: 35%;

}
.btnPaypal:hover{
  cursor: pointer;
}
.sideCard{
  margin-top: 4rem;
  text-align: center;
}
                      /*Rodapé*/
.page-footer{
  background-color: #3EB489;
  color: white;
}

.tdTradeHistory{
  text-align: center;
}
